html, body, canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#c74840 40%, #fddccd 80%, #fddccd 100%);
}

.bottom {
    position: absolute;
    bottom: 3px;
    left: 50%;
    height: 30px;
    width: 130px;
    transform: translateX(-50%);
    background: url("../../static/common/bottom.png") no-repeat;
    z-index: 2;
}
